

<div class="container">
<div class="row">
  <div class="col-sm-3">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li routerLinkActive="active"><a routerLink="/home">HOME</a></li>
            <li><h5>Projects</h5></li>
            <li routerLinkActive="active"><a routerLink="/whatif">WHAT IF...</a></li>
            <li routerLinkActive="active"><a routerLink="/signs">SIGNS</a></li>
            <li><a href="#">Menu Item 4</a></li>
            <li><h5>T-SHIRT SHOP</h5></li>
            <li routerLinkActive="active"><a routerLink="/tshirt/max">MAX AND THE EYEBALL CREW</a></li>
            <li routerLinkActive="active"><a routerLink="/tshirt/animals">WE ARE ANIMALS</a></li>
            <li><a href="#">Menu Item 4</a></li>
           
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>


</div>